<div class="sidebar">
  <h4 class="text-white">User Panel</h4>

  <a routerLink="/dashboard" routerLinkActive="active">My Tasks</a>
  <a (click)="logout()">Logout</a>
</div>

<div class="main-content">

  <h3 class="page-title">My Assigned Tasks</h3>

  <mat-card *ngIf="!tasks || tasks.length === 0" class="no-task">
    No tasks assigned yet.
  </mat-card>

  <div class="task-grid">

    <mat-card class="task-card" *ngFor="let task of tasks">

      <mat-card-content class="card-body">

        <div class="card-top">

          <h4 class="task-title">{{ task.title }}</h4>

          <p class="task-desc">
            {{ task.description }}
          </p>

          <p class="task-deadline">
            <strong>Deadline:</strong>
            {{ task.deadline | date:'mediumDate' }}
          </p>

          <div class="status-row">

            <span
              class="status"
              [ngClass]="{
                'pending': task.status === 'Pending',
                'completed': task.status === 'Completed',
                'overdue': task.status === 'Overdue'
              }">

              {{ task.status }}

            </span>

            <span
              *ngIf="isStartingSoon(task.deadline) && task.status !== 'Completed'"
              class="starting-soon">

              ⚠ Deadline is Near

            </span>

          </div>

        </div>

        <!-- BUTTON -->
        <button
          *ngIf="task.status !== 'Completed'"
          mat-raised-button
          class="complete-btn"
          (click)="markCompleted(task.id)">

          Mark as Completed

        </button>

      </mat-card-content>

    </mat-card>

  </div>

</div>